*{
    margin: 0px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "header         header          header          header          header"
    "nav            nav             nav             nav             nav"
    "section        section         section         section         aside"
    "footer         footer          footer          footer          footer ";
    height: 100vh;
}


.header{
    grid-area: header;
    display: flex;
    border: 5px solid black;
    background-color: dimgray;
    padding: 40px;
}

    #imagen-intro{
        flex: 1;
        /*background-color: aquamarine;*/
        width: 80px;
        height: 80px;
    }

    .titulo{
        flex: 4;
        text-align: center;                                      
        /*background-color: brown;*/

    }

.nav{
    grid-area: nav;
    border: 5px solid black;  
}
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
  
    li{
        float: left;
    }

    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

  

li a:hover{
    background-color: lightblue;
}

a:visited{
    color:darkcyan;
    text-decoration: none;
}

.section{
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    article{
        margin-top: 20px;

    }

    .imagen-article{
        width: 100px;
        height: 50px;
    }

.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

    .link-aside{

        padding: 20px;
    }

.footer{
    grid-area: footer   ;
}
